body{
    font-family:  Verdana, sans-serif;
    color: #333;
    background-color: #f0f0f0
}

header{
    background-color: #4CAF50;
    color: white;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

h2{
    font-size: 1.5em;
    color: #FFD700;
}

article{
    background-color: white;
}

.css-article h3 {
    font-size: 2em; /* Sets the font size for h3 in CSS article */
    color: #007BFF; /* Sets a blue color for h3 */
}

.css-article p {
    color: #555; /* Sets a darker gray color for paragraphs in CSS article */
}

list h4{
    color: #FF69B4;
     font-size: 1.5em;
}

table{
    background-color: #f9f9f9;
}
th{
    background-color: #007BFF;
}

footer{
    color: #333;
    background-color: #ccc;
}