
h1{
    font-size: 10vw ;
    font-weight: 100;
    font-style: italic;

    text-transform: lowercase;

}


/* p{
    line-height: 38px;
    letter-spacing: 3px;
    word-spacing: 31px;
} */


/* HW
  font steach
  font variant */