 
 *{
    margin: 0px;
 }

 body{
    background-color:   rgb(236, 215, 215);
    margin-top: 30px;
    margin-left:80px;
 }

 /* .card :hover our .card:hover me fark hai fark hai  */
 .card:hover{
    background-color: white ;
    border-color:  rgb(255, 255, 255);
 }

 .box{
    display: inline-block;
}

.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 20px solid rgb(253, 243, 243);
    border-radius: 20px;
}

.img{
   width: 350px;
   height: 200px;
   border-radius: 10px;
}

.Rastaurant, .Food, .location{
    position: relative;
    margin-left: 2px;
    margin-top: 8px;
}
.Rastaurant_name{
      font-size: 19px;
      font-weight: bold;
}


/* left size fix on Rating two way 
one is margin and second is position deke ohk */
.Rating{ 
     color: white;
     background-color:green;
     border-radius: 7px;
     width: 35px;
     height: 20px;
     padding-left: 5px;
     position: absolute;
     right: 5px;
}

.price{
    position: absolute;
    right: 5px;
}

/* .Food{
    position: relative;
} */

.distance{
    position: absolute;
    right: 5px;
}

/* .location{
    position: relative;
} */

.Food, .place {
    font-size: 15px;
    color: rgb(147, 133, 133);
}
.distance{
    font-size: 15px   ;
    font-weight: bold;
}

.image {
    position: relative;
}
.off{
   position: absolute;
   font-size: 25px;
   color:white;
   background-color: rgba(16,45,220,0.7);
   bottom: 10px;  
   left: 7px;
}