.img1{
    height: 200px;
    width: 200px;
    /* width: auto; */
    float: left;
    margin-right: 20px;
    
}

.img2{
    height: 200px;
    width: 200px;
    /* float: right; */
    float: left;
    clear: both; 
    margin-right: 20px;
}